body {
    margin: 0;
    padding: 0;
}

header {
    height: 100vh;
    min-height: 400px;
    background-size: cover;
    background-image: url('img/tropical-island.jpg');
}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: transparent;
} */
.my-navbar {
    background: rgba(0, 0, 0, 0) !important;
    width: 90%;
    margin: 0 auto;
}

.my-navbar .navbar-brand {
    color: white;
}

.navbar-nav .nav-item .nav-link {
    color: white !important;
    margin-right: 10px;
    text-transform: uppercase;
}

.navbar-nav .nav-item .active {
    color: orange !important;
    text-decoration: underline;
}

.collapsible-navbar {
    display: flex;
    width: 0px;
}

.my-ul {
    width: 100%;
    display: flex;
    justify-content: center;
}